---
interface Education {
    titleKey: string
    descriptionKey: string
    date: string
    institution: string
}

const EDUCATION: Education[] = [
    {
        titleKey: "education.degrees.masters",
        descriptionKey: "education.descriptions.masters",
        date: "2025 - Presente",
        institution: "Universidad de la Sabana"
    },
    {
        titleKey: "education.degrees.engineer",
        descriptionKey: "education.descriptions.engineer",
        date: "2016 - 2024",
        institution: "Universidad del Cauca"
    },
]
---

<section id="educacion" class="section bg-variant">
    <span class="section-title-principal"><span class="primary">#</span><span data-i18n="education.title">educación</span></span>

    <div class="gallery">
        {
            EDUCATION.map(({ titleKey, descriptionKey, date, institution }) => (
                <div class="education-card">
                    <h4 class="text-xl font-semibold" data-i18n={titleKey}>Magister</h4>
                    <p class="text-gray-400">{institution}</p>
                    <p class="text-sm" data-i18n={descriptionKey}>Descripción</p>
                    <p class="text-sm text-gray-500">{date}</p>
                </div>
            ))
        }
    </div>
</section>

<style>
    .section {
        margin: 2rem auto;
        max-width: 1200px;
        padding: 0 2rem;
    }

    .section-header {
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .gallery {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .education-card {
        background: var(--gray-999);
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        transition: transform 0.2s ease-in-out;
    }

    .education-card:hover {
        transform: translateY(-3px);
    }

    @media (min-width: 50em) {
        .section {
            padding: 2.5rem 2.5rem;
        }
    }
</style>